<html lang="en">
    <head>
        <title>Preview - Absensi SMAN 1 CIBADAK</title>
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    </head>

    <body style="background-color: #afafaf">
        <div class="container" style="padding-top: 2%;">
            <div class="col-sm-5" style="margin: 0 auto;">
                <div class="card bg-light border-0">
                    <div class="card-header">
                        <center><h6>Kode Akses</h6></center>
                    </div>
                    <div class="card-body">
                        <form action="/login-preview" method="post">
                            <div class="form-group">
                                <input type="password" name="code_access" id="code_access" class="form-control" placeholder="Kode Akses" required>
                            </div>
                            <center><button type="submit" class="btn btn-primary" style="width: 100%;">Login</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>